body {
    background: lightsteelblue;
    font-family: 'Sen', sans-serif;
    margin: 0;
}

.header {
    font-size: 20pt;
    font-weight: bold;
    margin: 0;
    padding: 20px 5%;
    background: white;
}

.subTitle {
    font-size: 10pt;
    font-weight: normal;
}

.footer {
    text-align: right;
    font-size: 16pt;
    font-weight: bold;
    margin: 0;
    padding: 20px 5%;
    background: white;
}

.right {
    text-align: right;
}

.container {
    width: 90%;
    margin: 25px 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.picsumImage {
    width: 300px;
    height: fit-content;
    margin: 10px 20px;
    flex-grow: 1;
    flex-shrink: 0;
    background: white;
}

/*Using object-fit:cover causes web page to perform extremely slow
    Beauty is sacrificed here for the sake of usability*/
/*Using object-fit:contain with a fixed height in .picsumImage
    creates too much white space on every image type*/
.galleryImage {
    width: 100%;
}

.galleryAuthor {
    padding: 10px 20px;
}
/*For any screen that is in portrait*/
@media only screen and (max-aspect-ratio:1/1){
    .container {
        margin: auto;
        display: inline;
    }

    .picsumImage {
        width: 100%;
        margin: 20px 0px;
    }

    .galleryImage {
        height: auto;
        object-fit: contain;
    }

    .galleryAuthor {
        font-size: 10pt;
    }
}